visitTypeToEncounterClassMap={"home":"HH","field":"FLD","emergency":"EMER","LAB Visit":"AMB","ambulatory":"AMB","outpatient":"AMB","OPD":"AMB","inpatient":"IMP","IPD":"IMP"}
encounterClassToVisitTypeMap={"IMP":"inpatient","FLD":"field","AMB":"outpatient","HH":"home","EMER":"emergency"}
mrsEncounterTypeToFhirEncounterTypeMap={{ mrs_encounter_type_to_fhir_encounter_type_map }}
fhirEncounterTypeToMrsEncounterTypeMap={{ fhir_encounter_type_to_mrs_encounter_type_map }}