shr.version={{ shr_version }}
shr.referenceUrl={{ shr_reference_url }}
shr.catchmentPathPattern={{ shr_catchment_path_pattern }}
shr.patientEncPathPattern={{ shr_patient_enc_path_pattern }}
shr.maxFailedEventCount={{ shr_max_failed_events }}
