feed.maxFailedEvents={{ tr_feed_maxFailedEvents }}
feed.connectionTimeoutInMilliseconds={{ tr_feed_connectionTimeoutInMilliseconds }}
feed.replyTimeoutInMilliseconds={{ tr_feed_replyTimeoutInMilliseconds }}
concept.feed.url={{ tr_concept_feed_url }}
referenceTerm.feed.url={{ tr_reference_term_feed_url }}
medication.feed.url={{ tr_medication_feed_url }}
tr.referenceUrl={{ tr_reference_url }}
tr.valueset.url.pathInfo={{ tr_valueset_url_pathInfo }}
tr.valueset.route=Route-of-Administration
tr.valueset.quantityunits=Quantity-Units
tr.valueset.relationshipType=Relationship-Type
tr.valueset.immunizationReason=Immunization-Reason
tr.valueset.refusalReason=No-Immunization-Reason
tr.valueset.procedureOutcome=Procedure-Outcome
tr.valueset.medicationForms=Medication-Forms
tr.valueset.medicationPackageForms=Medication-Package-Forms
tr.apiUserName={{tr_api_user_name}}
tr.apiUserPassword={{tr_api_user_password}}
