lr.divisionsPathInfo=list/division
lr.districtsPathInfo=list/district
lr.upazilasPathInfo=list/upazila
lr.paurasavasPathInfo=list/paurasava
lr.unionsPathInfo=list/union
lr.wardsPathInfo=list/ward
lr.referenceUrl={{ location_registry_url }}